Flask
Flask-SQLAlchemy
gunicorn
blinker
click
itsdangerous
Jinja2
MarkupSafe
Werkzeug
SQLAlchemy
numpy
pandas
scikit-learn
scipy
joblib
threadpoolctl
pillow
pdfminer.six
pdfplumber
python-dateutil
six
typing_extensions
tzdata
cryptography
cffi
pycparser
docx2txt
charset-normalizer
colorama
packaging
greenlet
Flask
Flask-SQLAlchemy
gunicorn