* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

form {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 40px 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  color: white;
  margin-bottom: 25px;
  
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

input:focus {
  box-shadow: 0 0 5px #fff;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  color: #764ba2;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #f1f1f1;
  transform: scale(1.05);
}

a {
  display: block;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
